@page
@model AirConditionerManagement.Pages.AdminPage.Supplier.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<h1>Supplier Management</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên hãng
            </th>
            <th>
                Mô tả
            </th>
            <th>
                Nguồn gốc
            </th>
            <th>
                Thao tác
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SupplierCompany) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOfOrigin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SupplierId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SupplierId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SupplierId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
